*{
  margin: 0px;
  padding: 0px;
  font-family: roboto, sans-serif;
}
a{
  text-decoration: none;
  color: #0a0a0a;
}
/* overview.html */

.title{
  display: flex;
  font-weight: 400;
  margin: 40px 5% 8px;

}
/* logo */
.fa-brands{
  color: #1b61fc;
  margin-top: 5px;
}
.heading{
  color: #0a0a0a;
  font-size: large;
  border-bottom: 3px solid #e50914;
}
.sub-head{
  color: #878896;
  margin-left: 7.5%;
  font-size: small;
  margin-bottom: 30px;
}

.navbar{
  height: 30px;
  width: 90%;
  display: flex;
  background-color: #ececf0;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border: 1px none #e50914;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.overview:active, .expense:active, .habit:active, .goal:active, .study:active{
  background-color: white;
  /* border: 1px none #e50914; */
  border-radius: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 1s;
}

.hero{
  margin-left: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 90%;
  margin-top: 30px;
  margin-right: auto;
}
.total-exp{
  border: 1px solid #878896;
  border-radius: 10px;
  padding-top: 20px;
  margin-right: 12px;
  background-image: url("assets/dollar-sign-solid-full.svg");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: 85% 30%;
}

.activeHabits{
  border: 1px solid #878896;
  border-radius: 10px;
  padding-top: 20px;
  margin-right: 12px;
  background-image: url("assets/calendar-check-regular-full.svg");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: 85% 30%;
}
.money{
  color: #1b61fc;
}

.activeGoal{
  border: 1px solid #878896;
  border-radius: 10px;
  padding-top: 20px;
  margin-right: 12px;
  background-image: url("assets/bullseye-solid-full.svg");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: 85% 30%;
}

.studyTime{
  border: 1px solid #878896;
  border-radius: 10px;
  padding-top: 20px;
  margin-right: 12px;
  background-image: url("assets/book-open-reader-solid-full.svg");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: 85% 30%;
}

.time{
  color: #01a63e;
}
.goal{
  color: #f54900;
}
.habit{
  color: #9810fa;
}
.study-class{
  width: 90%;
  height: 62vh;
  display: flex-box;
  background-color: #ececf0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 1px solid white;
  border-radius: 10px;
}
.study-title{
  margin-top: 20px;
  margin-left: 20px;
}

.study-class-info{
  display: inline-block;
}
.study-head{
  font-size: larger;
  margin-bottom: 10px;
  color: black;
}

.study-class-time{
  color: green;
}

.study-class-button{
  margin-left: 80%;
  margin-bottom: 3%;
  padding: 8px;
  background-color: #0a0a0a;
  color: #ececf0;
  border-radius: 8px;
  border: 1px none;
}

.study-class-body{
  display: grid;
  grid-template-columns: auto auto;
  /* height: 360px; */
}

.study-class-recent-session-title{
  font-weight: 400;
  margin-left: 2%;
  /* border: 1px solid black; */
}

.study-class-activity{
  font-weight: 300;
  display: grid;
  grid-template-columns: 5% 60% 30% 5%;
  margin-top: 10px;
  border: 1px solid #878896;
  padding: 1%;
  border-radius: 10px;
}

.study-class-activity-logo{
  display: flex;
  grid-row: 1 / 3;
  grid-column: 1/2;
  align-items: center;
  justify-content: center;
}

.study-class-activity-name{
  margin-left: 5%;
  padding: 3px;
}

.study-class-activity-date{
  padding: 3px;
  margin-left: 5%;
  grid-row: 2/3;
  grid-column: 2/3;
}

.study-class-activity-time{
  color: #01a63e;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1/3;
  grid-column: 3/4;
}
.study-class-activity-remove{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1/3;
  grid-column: 4/5;
}
.study-class-graph-title{
  font-weight: 400;
  margin-right: 2%;
  margin-left: 25px;
}


.study-class-graph{
  height: 300px;
  margin: 20px 5px 20px 40px;
  border-left: 1px solid #878896;
  border-bottom: 1px solid #878896;
  border-top: 1px #878896 dashed;
  border-right: 1px #878896 dashed;
  display: grid;
  grid-template-areas: 
              "a a a a a"
              "a a a a a"
              "a a a a a"
              "a a a a a";
  background-color: #1b61fc;
  row-gap: 10px;
  column-gap: 10px;
}
